* {
    margin: 0px;
    padding: 0px;
}
.fira-sans {
    font-family: "Fira Sans";
    font-weight: 400;
    font-variation-settings:
    "wdth" 100;
  }
body {
    background-color: #F1F1F3;
}
body>header{
    width: 1280px;
    margin: 0 auto;
    background-color: #F1F1F3;
}
body>main{
    width: 1280px;
    margin: 0 auto;
    background-color: #F1F1F3;
}
/* shared styles */
 .description {
    line-height: 22px;
    color: rgba(14, 14, 14, 0.7);
 }
 .font32 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
 }
 .btn-1 {
    box-sizing: border-box;
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;    
    color: #FFFFFF;
    border: none;
 }
 .btn-1:hover {
    background-color:#03c090;
 }
 .btn-2 {
    padding: 40px;
    border: 4px solid #F1F1F3;
    border-radius: 16px;
    font-size: 40px;
    font-weight: 700;
    color:rgba(14, 14, 14, 0.8);
    background-color: rgb(255, 255, 255);
 }
 .btn-2:hover {
    border: 4px solid #03c090;
 }
 .section-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
 }
/*end of sheared style*/

/* nav-bar */
.nav-bar {
    /* background-color: green; */
    width: 100%;
    height: 100px;
}
.nav-bar >ul {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar >ul > li {
    text-decoration: none;
    list-style: none;
}
.nav-bar >ul >li >button {
    padding: 15px 30px 15px 30px;
    border: 2px solid rgb(0, 106, 80);
    border-radius: 8px;
    color:#006A50;
    font-size: 18px;
    font-weight: 600;
}
.nav-bar >ul >li >button:hover {
    color: #03c090;
    /* border: 2px solid #03c090; */
}
.nav-bar >ul > .font32:hover {
    color:green;
}
/* Banner section*/

.banner {
    margin-top: 180px;
    width: 100%;
    height: 560px;
    box-sizing: border-box;
    padding: 80px 100px 80px 100px;
    background-color: #C6E4D6;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.banner>.column1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    gap: 15px;
}
.banner-title {
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    line-height: 65px;
}

.banner-heading {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
}
.banner> .column1 > button {
    margin-top: 10px;
}

/*main section*/   
/*future section */

.future-section {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.future-section> .card-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    /* gap: 20px; */
}

.card-box > .card {
    width: 404px;
    height: 320px;
    padding: 32px;
    border-radius: 13px;
    box-sizing: border-box;
    background-color: #C6E4D6;
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: flex-start;
}
.card> .card-heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.card-box > .card > .card-btn{
    padding: 11px 20px 11px 20px;
    border: 3px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    color:#FFFFFF;
}
.card-box > .card > .card-btn:hover{
    border:3px solid #03c006;
}
    
.card-box > .card1  {
    background-color: rgba(84, 144, 245, 0.2);
}
.card-box > .card2  {
    background-color: rgb(198, 228, 214) ;
}
.card-box > .card3  {
    background-color: rgb(247, 235, 207);
}
.future-description {
    height: 256px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    padding: 48px 24px 48px 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap:10px;
    background-image: url("/assets/quote-bg.png");
    background-position: top 25px left 24px;
    background-repeat: no-repeat;
}
.future-description> .name> .card-heading {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 5px;
    margin-top: 5px;
}
/* recent section */
.recent {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.recent> p{
    margin-top: 24px;
}

.recent-card-box {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:24px;
}
.recent-card-box > .card {
    height: 400px;
    width: 100%;
    box-sizing: border-box;
    padding: 48px;
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    gap: 32px;
} 
.recent-card-box > .card > .image> img {
    height: 300px;
    width: 400px;
    border-radius: 24px;
} 
.recent-card-box > .card > .card-info > .al-image,.date, .description {
    margin-top: 12px;
}
.recent-card-box > .card > .card-info > .btn-1 {
    margin-top: 32px;
}
/*end of recent section*/

/*Donate Section*/

.donate {
    margin-top: 80px;
}
.donate> .section-title {
    text-align: center;
}
.donate> .description {
    margin: 0 88px;
    margin-top: 24px;
    text-align: center;
}
.donate> .donate-btns {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 24px;
}
.donate> .other-amount {
    padding: 2px 450px 2px 450px;
    height: 40px;
    border: none;
    background-color:#FFFFFF;
    display: block;
    margin: 30px auto 0 auto;
    text-align: center;
}
.donate> .donate-btn{
   display: block;
   margin: 30px auto 0px auto;
}

/*subscribe section*/

main> .subscribe {
    margin-top: 130px;
    text-align: center;
    background-color: #C6E4D6;
    box-sizing: border-box;
    padding: 80px 120px 80px 120px;
    border-radius: 24px;
    /* display: flex;
    flex-direction: column;
    gap: 20px; */
}

main> .subscribe> h1 {
   margin-bottom: 16px;
   
}

.subscribe> .search-bar {
  width: 750px;
  border: 3px solid #C6E4D6;
  margin: 24px auto 24px auto;
  display: flex;
  justify-content: center;
  /* padding: 1px; */
  border-radius: 10.5px;
}

.subscribe> .search-bar:hover {
    border:3px solid#03c090;
}

.subscribe> .search-bar> .btn-sub {
    margin: 0px;
    padding: 17px 34px 17px 34px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;    
    color: #FFFFFF;
    border: none;
}

.subscribe> .search-bar> input {
   width: 100%;
   border: none;
   background-color: #FFFFFF;
   padding-left: 5px;
   border-top-left-radius: 8px;
   border-bottom-left-radius: 8px ;
}

/* footer section */ 
body>footer {
    width: 100%;
}

.footer {
    background-color:rgb(255, 255, 255);
    text-align: center;
    margin-top: 80px;
    box-sizing: border-box;
    padding: 80px 260px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer> .icon-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer> .icon-container> img {
    padding: 4px;
    border: 1px solid rgb(255, 255, 255);
}
.footer> .icon-container img:hover {
    border: 1px solid black;
}














